$app-dark: #393e46;
$app-dark-tint: #616975;
$app-clear: #eeeeee;

$primary: (
    base: #00adb5,
    shade: #00969e,
    tint: #23c4cc
);

$secondary: (
    base: #aad8d3,
    shade: #93b9b5,
    tint: #bcece7
);
