@import './color-paletter.scss';

@mixin abs-dimensions($heigh, $width, $top, $left) {
    position: absolute;
    height: $height;
    width: $width;
    top: $top;
    left: $left;
}

@mixin app-btn($color) {
  height: 30px;
  width: 120px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 5px;
  transition: background-color 90ms ease-in-out;
  background: map-get($color, 'base');
  // &:hover {
  //   background: map-get($color, 'tint')
  // }

  // &:active {
  //   background: map-get($color, 'base')
  // }
}
