@import '../../styles/util-mixins.scss';
@import '../../styles/color-paletter.scss';

.CanvasComponent {
  margin-top: 60px;
  width: fit-content;
  height: fit-content;
  border: 1px solid $app-clear;
  border-radius: 5px;
  cursor: pointer;
  .row {
    display: flex;
  }

  .cell {
    height: 15px;
    width: 15px;
    background: lightgray;
    margin: 1px;
    background: none;
    cursor: pointer;
    transition: background-color 60ms ease-in;
  }
  
  .alive {
    background-color: $app-clear;
    transform: scale(1.1);
    border-radius: 1px;
    animation-name: bounce;
    animation-iteration-count: 1;
    animation-duration: 120ms;
  }

  .smart-hover-shadow {
    border-radius: 4px;
    background: rgba(0,0,0,0.4);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1.1);
  }

  70% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1.1);
  }
}