@import "../../styles/color-paletter.scss";

.ConfigModalComponent {
  position: absolute;
  padding: 10px;
  background: #eeeeee;
  border-radius: 5px;
  left: 5px;
  top: 40px;
  z-index: 50;
  transition: width 0.1s ease-in-out, height 0.2s ease-in-out, opacity 0.1s;

  span {
    width: 50%;
    display: block;
    display: inline-block;
  }

  input {
    display: inline-block;
    width: 30%;
    margin: 5px;
    outline-color: map-get($secondary, "base");
    border-radius: 5px;
    border: none;
    // border: 1px solid map-get($primary, 'base');
  }
}

.panel-show > .ConfigModalComponent {
  height: auto;
  width: 150px;
  opacity: 1;
}

.panel-hide > .ConfigModalComponent {
  height: 0px;
  width: 0px;
  opacity: 0;
  pointer-events: none;
}

.toggle-btn {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: none;
  outline: none;
  background: lightgray;
  cursor: pointer;
}
